<% if @post.flagged == false %>

  <div>
    <p>
      <h1><%= @post.title %></h1>
      <p>
        <%= form_for @post do |f| %>
          <%= f.hidden_field :flagged, :value => true %>
          <%= f.button :submit, class: 'waves-effect waves-light btn',
                :data => {:confirm => 'Are you sure you want to FLAG this Post?'} do %>
            <i class='material-icons'>report_problem</i>
          <% end %>
        <% end %>
      </p>
      <%= link_to @post.owner.name, user_path(@post.owner) %>: <%= @post.owner.neighborhood %></br>
      <%= @post.created_at %>
    </p>
    <p><%= @post.text_body %></p>
  </div>

  <% if current_user === nil %>
  <% elsif current_user == @post.owner || current_user.admin %>
    <div>
     <%= link_to 'Edit Post', edit_post_path(@post), class: 'waves-effect waves-light btn' %>
     <%= link_to 'Delete Post', post_path(@post), method: :delete, :data => {:confirm => 'Are you sure you want to delete this Post?'}, class: 'waves-effect waves-light btn' %>
    </div>
  <% end %>

  <div>
    <% if @post.comments.length > 0 %>
      <h1>Comments</h1>
      <% @post.comments.each do |comment|%>
        <!-- COMMENT DIV -->
        <div>

          <div class='toggle show comment<%=comment.id%>'>
            <p>
              <%= link_to comment.owner.name, user_path(comment.owner) %>: <%= comment.owner.neighborhood %></br>
              <%= comment.created_at %>
            </p>
            <p><%= comment.text_body %></p>

            <% if current_user === nil %>
            <% elsif current_user == comment.owner || current_user.admin %>
              <div>
                <%= link_to 'Edit Comment', '#', class: 'toggle edit show waves-effect waves-light btn',
                id: comment.id %>
                <%= link_to 'Delete Comment', comment_path(comment), method: :delete, :data => {:confirm => 'Are you sure you want to delete this Comment?'}, class: 'toggle show waves-effect waves-light btn' %>
              </div>
            <% end %>
          </div>

          <div class='toggle hide comment<%=comment.id%>'>
            <%= form_for comment do |f| %>

              <div>
                <p>
                  Comment: <%= f.text_field :text_body, placeholder: 'What do you have to say?' %><br/>
                </p>
              </div>

              <div>
                <p><%= link_to 'Cancel', :back, class: 'waves-effect waves-light btn' %></p>
                <p><%= f.submit 'Save Changes', class: 'waves-effect waves-light btn' %></p>
              </div>

            <% end %>
          </div>
        
        </div>
        <!-- END COMMENT DIV -->
      <% end %>
    <% end %>

    <%= form_for @new_comment, :url => comments_path(@new_comment) do |f| %>
      <p><%= f.text_area :text_body, placeholder: 'What do you have to say?' %></p>
      <p><%= f.hidden_field :parent_id, :value => @post.id %></p>
      <p><%= f.hidden_field :parent_type, :value => 'Post' %></p>
      <p><%= f.submit 'Add Comment', class: 'waves-effect waves-light btn' %></p>
    <% end %>
  </div>

<% else %>

  <div>
    <p>This post has been flagged for moderation.</p>
  </div>

<% end%>