<div>
  <h2>Past Events</h2>

  <!-- PAST EVENTS -->
  <% @events.each do |event|%>
    <div>
      <p>
        <h3><%= link_to event.name, event_path(event) %></h3>
        <%= link_to event.owner.name, user_path(event.owner) %>: <%= event.owner.neighborhood %></br>
        <%= event.location %>
      </p>
      <p><%= event.description %></p>
    </div>
  <% end %>
  <!-- END PAST EVENTS -->

</div>