<div>
  <p>
    <h1><%= @user.name %></h1>
    <%= image_tag @user.photo.url(:medium) %></br>
    Neighborhood: <%= @user.neighborhood %></br>
    E-mail: <%= @user.email %></br>
  </p>
</div>

<div>
  <p><%= link_to 'Edit Profile', edit_user_path(@user), class: 'waves-effect waves-light btn' %></p>
  <p><%= link_to 'Delete Profile', user_path(@user), method: :delete, class: 'waves-effect waves-light btn' %></p>
</div>

<!-- EVENTS ATTENDING DIV -->
<div>
  <% if @user.attended_events.length > 0 %>
  <h1>Events You're Attending</h1>
    <ul>
    <% @user.attended_events.each do |event|%>
      <li><%= link_to event.name, event_path(event) %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<!-- END EVENTS ATTENDING DIV -->