<div class="card">
  <%= form_for(@user, multipart: true) do |f| %>

  <div class="container">
    <div class="card-content">
      <div class="input-field col s6">
        <label for="name">Name</label>
        <%= f.text_field :name %><br/>
      </div>
      <div class="input-field col s6">
        <label for="neighborhood">Neighborhood</label>
        <%= f.text_field :neighborhood %><br/>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= f.file_field :photo %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="card-action">
      <p><%= link_to 'Cancel', user_path(@user), class: 'waves-effect waves-light btn right' %></p>
      <p><%= f.submit 'Save Changes', class: 'waves-effect waves-light btn' %></p>
    </div>
  </div>

  <% end %>
</div>
