<ul class="collapsible" data-collapsible="accordion">
  <li>
    <!-- VOLUNTEERS -->
    <!-- <div> -->

      <div class="collapsible-header">
        <i class='material-icons'>person_pin</i><span class='bigger-font'>Manage Volunteers</span>
      </div>
      <div class="collapsible-body">
        <div class='moderate'>
          <% @users.each do |user|%>
            <div class='card'>
              <div class='card-content'>
                <%= link_to user.name, user_path(user) %>
                <%= link_to edit_user_path(user), class: 'right edit_btn', id: user.id do %>
                  <i class='material-icons'>edit_mode</i>
                <% end %>
                <%= link_to user_path(user), method: :delete, :data => {:confirm => 'Are you sure you want to delete this User?'} do %>
                  <i class='material-icons right'>delete</i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
    <!-- END VOLUNTEERS -->
  </li>

  <li>
    <!-- FLAGGED POSTS -->
    <% if @flagged_posts.count > 0 %>
      <!-- <div> -->
        <div class="collapsible-header">
          <i class='material-icons'>library_books</i><span class='bigger-font'>Moderate Flagged Posts</span>
        </div>
        <div class="collapsible-body">
          <div class='moderate'>
            <% @flagged_posts.each do |post|%>
              <div class='card'>
                <div class='card-content'>
                  <strong>Post Title: </strong><%= link_to post.title, post_path(post) %></br>
                  <%= link_to post_path(post), method: :delete, :data => {:confirm => 'Are you sure you want to delete this Post?'} do %>
                    <i class='material-icons right'>delete</i>
                  <% end %>
                  <%= form_for post do |f| %>
                    <%= f.hidden_field :flagged, :value => false %></br>
                    <%= f.submit 'Unflag Post', class: 'unflag right waves-effect waves-light btn' %>
                  <% end %></br>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <!-- </div> -->
    <% end %>
    <!-- END FLAGGED POSTS -->
</li>

<li>
    <!-- FLAGGED COMMENTS -->
    <% if @flagged_comments.count > 0 %>
      <!-- <div> -->
        <div class="collapsible-header">
          <i class='material-icons'>message</i><span class='bigger-font'>Moderate Flagged Comments</span>
        </div>
        <div class="collapsible-body">
          <div class='moderate'>
            <% @flagged_comments.each do |comment|%>
              <div class='card'>
                <div class='card-content'>
                  <% if comment.parent_type === 'Post' %>
                    <strong>On Post:</strong> <%= link_to comment.parent.title, post_path(comment.parent) %></br>
                  <% else %>
                    <strong>On Event:</strong> <%= link_to comment.parent.name, event_path(comment.parent) %></br>
                  <% end %>
                  <strong>Posted By:</strong> <%= link_to comment.owner.name, user_path(comment.owner) %></br>
                  <%= comment.text_body%></br></br>
                  <%= link_to comment_path(comment), method: :delete, :data => {:confirm => 'Are you sure you want to delete this Comment?'} do %>
                    <i class='material-icons right'>delete</i>
                  <% end %>
                 <%= form_for comment do |f| %>
                    <%= f.hidden_field :flagged, :value => false %></br>
                    <%= f.submit 'Unflag Comment', class: 'unflag right waves-effect waves-light btn' %>
                  <% end %></br>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <!-- </div> -->
    <% end %>
    <!-- END FLAGGED COMMENTS -->
