<div class="row">
  <div class="col l8">

    <!-- EVENTS ATTENDING DIV -->
    <div>
      <% if @user.attended_events.length > 0 %>
      <h2>Events Attending</h2>
        <ul>
        <% @user.attended_events.each do |event|%>
          <li><%= link_to event.name, event %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <!-- END EVENTS ATTENDING DIV -->

    <!-- EVENTS HOSTING DIV -->
    <div>
      <% if @user.events.length > 0 %>
      <h2>Events Hosting</h2>
        <ul>
        <% @user.events.each do |event|%>
          <li><%= link_to event.name, event %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <!-- END EVENTS HOSTING DIV -->

    <!-- POSTS DIV -->
    <div>
      <% if @user.posts.length > 0 %>
      <h2>Posts</h2>
        <ul>
        <% @user.posts.each do |post|%>
          <li><%= link_to post.title, post %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <!-- END POSTS DIV -->

    <!-- COMMENTS DIV -->
    <div>
      <% if @user.comments.length > 0 %>
      <h2>Comments</h2>
        <ul>
        <% @user.comments.each do |comment|%>
          <li><%= link_to truncate(comment.text_body,length: 40), comment.parent %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <!-- END COMMENTS DIV -->

  </div>

  <div class="col l4">

    <!-- USER PROFILE INFO -->
    <div id="aside">
      <h3><%= @user.name %></h3>
      <div class="divider"></div>
      <div class="card">
        <div class="card-image">
          <%= image_tag @user.photo.url(:medium) %>
        </div>
        <div class="card-content">
          <p>
            Neighborhood: <%= @user.neighborhood %></br>
            E-mail: <%= @user.email %></br>
          </p>
        </div>
        <% if current_user === nil %>
        <% elsif current_user === @user || current_user.admin %>
          <div class="card-action center">
            <p><%= link_to 'Edit Profile', edit_user_path(@user), class: 'waves-effect waves-light btn' %></p>
            <p><%= link_to 'Delete Profile', user_path(@user), method: :delete, class: 'waves-effect waves-light btn' %></p>
          </div>
        <% end %>
      </div>
    </div>
    <!-- USER PROFILE INFO -->

  </div>
</div>
