<div>
  <p>
    <h1><%= @user.name %></h1>
    <% if @user.image != nil %>
      <%= image_tag @user.image %></br>
    <% end %>
    Neighborhood: <%= @user.neighborhood %></br>
    E-mail: <%= @user.email %></br>
  </p>
</div>

<div>
  <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
  <p><%= link_to 'Delete Profile', user_path(@user), method: :delete %></p>
</div>