<!DOCTYPE html>
<html>
  <head>
    <title>NertForum</title>
    <%= csrf_meta_tags %>

    <script src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>

      <nav>
      <div class='nav-wrapper green'>
      <%= link_to image_tag('NERT-logo.jpg', height: '50vh'), root_path, class: 'brand-logo logo-pad' %>
      <a href='#' data-activates='mobile-nav' class='button-collapse'><i class='material-icons'>menu</i></a>
        <ul class='left hide-on-med-and-down left-nav-pad'>
          <% if current_user && current_user.admin %>
            <li><%= link_to 'ADD EVENT', '#',
              class: 'add_event waves-effect waves-light btn' %></li>
            <li><%= link_to 'ADD POST', '#',
              class: 'add_post waves-effect waves-light btn' %></li>
          <% elsif current_user%>
            <li><%= link_to 'ADD POST', '#',
              class: 'add_post waves-effect waves-light btn' %></li>
          <% end %>
        </ul>
        <ul class='right hide-on-med-and-down'>
          <% if current_user && current_user.admin %>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li><%= link_to 'Change Password', edit_user_registration_path %></li>
            <li><%= link_to 'Add New Volunteer', new_user_registration_path %></li>
            <li><%= link_to 'Dashboard', users_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% elsif current_user%>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li><%= link_to 'Change Password', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
        <ul class='side-nav' id='mobile-nav'>
          <% if current_user && current_user.admin %>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li><%= link_to 'Change Password', edit_user_registration_path %></li>
            <li><%= link_to 'Add New Volunteer', new_user_registration_path %></li>
            <li><%= link_to 'Dashboard', users_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% elsif current_user%>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li><%= link_to 'Change Password', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      </nav>

      <!-- FLASH MESSAGES -->
      <div class='row'>
        <% flash.each do |name, msg| %>
          <% if name == 'success' || name == 'notice' %>
            <div class='col-md-8 col-md-offset-2 flash-success'> 
              </br>
              <p><strong><%= name.upcase %></strong>: <%= msg %></p>
            </div>
          <% else %>
            <div class='col-md-8 col-md-offset-2 flash-error'> 
              </br>
              <p><strong><%= name.upcase %></strong>: <%= msg %></p>
            </div>
          <% end %>
        <% end %> 
      </div>

      <!-- ADD NEW POST DIV -->
        <div class='container'>

          <div class='post hide'>
            <%= form_for Post.new do |f| %>

              <div>
                <p>
                  Title: <%= f.text_field :title, placeholder: 'Post Title' %><br/>
                  Post: <%= f.text_field :text_body, placeholder: 'What do you have to say?' %><br/>
                </p>
              </div>

              <div>
                <p><%= link_to 'Cancel', posts_path, class: 'waves-effect waves-light btn' %></p>
                <p><%= f.submit 'Save Changes', class: 'waves-effect waves-light btn' %></p>
              </div>

            <% end %>
          </div>
        </div>
        <!-- END NEW POST DIV -->

        <!-- ADD NEW EVENT DIV -->
        <% if current_user === nil %>
        <% elsif current_user.admin %>
          <div class='container'>

            <div class='event hide'>
              <%= form_for Event.new do |f| %>

                <div>
                  <p>
                    Event Name: <%= f.text_field :name, placeholder: 'Event Title' %><br/>
                    Location: <%= f.text_field :location, id: 'geo-input', placeholder: 'Location' %><br/>
                    Description: <%= f.text_field :description, placeholder: 'What do you have to say?' %><br/>
                    Event Image: <%= f.file_field :photo %><br />
                  </p>
                </div>

                <div>
                  <p><%= link_to 'Cancel', posts_path, class: 'waves-effect waves-light btn' %></p>
                  <p><%= f.submit 'Save Changes', class: 'waves-effect waves-light btn' %></p>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>
        <!-- END NEW EVENT DIV -->

      <!-- YIELD -->
      <div class='container'>
        <%= yield %>
      </div>
    
    </div>

  </body>
</html>
